<web-app>
    <display-name>Servlet Hello World</display-name>    
    
    <servlet>
        <servlet-name>FirstServlet1</servlet-name>
        <servlet-class>FirstServlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet1</servlet-name>
        <url-pattern>/FirstServlet1</url-pattern>
    </servlet-mapping>
 
</web-app>  